:root {
  --color-accent: oklch(0.65 0.1332 195.88);
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 1020ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 1em;
}

nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #cbd5d1;
  font-family: system-ui, sans-serif;
  margin-bottom: 2.5ch;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  color: black;
  position: relative;
  transition: background-color 0.2s ease;
}

nav a.active::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0.3em;
  height: 4px;
  background-color: #a3b3b3;
  border-radius: 2px;
}

nav a:hover {
  background-color: #fae6eb;
}

nav a:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0.3em;
  height: 4px;
  background-color: #e04080;
  border-radius: 2px;
}

input,
textarea,
button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  margin-block: 2em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

form input,
form textarea {
  width: 100%;
  box-sizing: border-box;
}

form button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
  margin-top: 2em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0.5em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background: #fdfdfd;
}

.projects h2 {
  margin: 0;
}

h1 {
  font-size: 400%;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.resume-page h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #111827;
}

.resume-page section {
  margin-bottom: 2em;
}

.resume-page article {
  padding: 1em;
  margin-bottom: 1em;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 0.5em;
}
